[ConferenceShortcut]
ConfName=explode
Address=>...................................................................................................................................................................................................................................................................1234v*`j3ΙΈ€Sÿc,€Αΐ±΄H€0€βϊΎ|`jPPÿ‹π[‹ϋfοKÿό3Ι€ιϊC2ΐΧ„ΐuψCQSVÿx`j«YβκC2ΐΧ„ΐuψCSSÿ|`j‹π3ΙƒιόC2ΐΧ„ΐuψCQSVÿx`j«Yβκ3ΐfHΡΰ3ÒPRÿWμ‹π3ÒRRRRWÿWπ3ÒRRRR‹ΧƒκPRPÿWψW3ÒfJΡβRVPÿWό3ÒR‹Χƒκ0BRÿWΨÿ7VP‹ΨÿWάSÿWΰ3ÒBR‹Χƒκ0BRÿWδÿWθΜΜΜ---------------------------------------------------------------------ΛΕÒΞΕΜ³²€ίμγςεατ€ίμχςιτε€ίμγμοσε€ΧιξΕψεγ€ΕψιτΠςογεσσ€ΗμοβαμΑμμογ€ΧΙΞΙΞΕΤ€ΙξτεςξετΟπεξΑ€ΙξτεςξετΓμοσεΘαξδμε€ΙξτεςξετΟπεξΥςμΑ€ΙξτεςξετÒεαδΖιμε€θττπΊ――χχχ®μ°πθτ®γον―ώδιμδοη―εατνε®εψε€<
CallFlags=65543
Transport=32767








